@{
    ViewData["Title"] = "About us";
}
<link rel="stylesheet" href="/css/AboutUs.css">
<h1 class="title">@ViewData["Title"]</h1>

<br />

<main>
    <section>
        <p>We are a website dedicated to providing delicious recipes for cooks of all levels. Our goal is to help you discover new recipes, learn cooking techniques, and find culinary inspiration for your daily meals.</p>
        <p>From classic recipes to modern dishes, we have a wide variety of recipes to cater to all tastes and dietary needs. All of our recipes are carefully tested and approved before being published on our site.</p>
        <p>We are always open to suggestions and feedback from our users. If you have any questions, comments, or ideas, please don't hesitate to contact us.</p>
    </section>
</main>

