@model Rating
@{
    ViewData["Title"] = "Edit Rating";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/UserList.css">

<div class="d-flex justify-content-center">
    <h1>@ViewData["Title"]</h1>
</div>

<br />
<br />

<form asp-controller="Rating" asp-action="EditRating" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group mx-auto" style="width: 50%;">
        <p><strong>Name</strong></p>
        @*<label asp-for="UserName"></label>*@
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group mx-auto" style="width: 50%;">        
        <p><strong>Email</strong></p>
        @*<label asp-for="UserEmail"></label>*@
        <input asp-for="UserEmail" class="form-control" />
        <span asp-validation-for="UserEmail" class="text-danger"></span>
    </div>
    <div class="form-group mx-auto" style="width: 50%;">
        <p><strong>Comment</strong></p>
        <input asp-for="Comment" class="form-control" />
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>
    <div class="form-group mx-auto" style="width: 50%;">      
        <div class="d-inline justify-content-center">
        <button type="submit" class="btn btn-primary">Save</button>
            <a href="@Url.Action("ListRating", "Rating")" class="btn btn-secondary">Back to list</a>
        </div>

    </div>    

</form>