.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.col-md-6 {
    width: 45%;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}

form {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    resize: vertical;
} 

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}

    .alert.success {
        background-color: #4CAF50;
    }

.Messagem {
    height: 150px; /* altura de 200 pixels */
}
