@model Recipe

<h1>delete Recipe</h1>

<p>Are you sure you want to delete the Recipe @Model.Name @*(@Model.Email)*@?</p>

<form asp-controller="Recipe" asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("ListRecipe", "Recipe")" class="btn btn-secondary">Back to list</a>
</form>
